################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Produce/.vs
/Produce/bin/Debug/net8.0
/Produce/obj
